@import url(http://fonts.googleapis.com/css?family=Knewave);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
header{
	min-height: 120px;
	position: relative;
	padding: 70px 0 10px 0 !important;
	background-image: url("../images/header.png");
	background-color: #807A7A;
}
header h1{
	text-shadow: 5px 5px 3px #244792;
	color: #FFCC00;
	font-size: 60px;	
}
header h1 .x{
  font-family: Knewave;
  font-size: 65px;  
}
header p{
	font-family: 'Shadows Into Light Two';
	color: #EAEDF2;
	font-size: 22px;
	text-shadow: 2px 2px 0 #244792;
}
body{
	background-image: url("../images/wavegrid.png");
	overflow-x: hidden;
}
#banner{
	height: 10px;
}
.wrapper{
	margin-top: 40px;
	margin-bottom: 20px;
}
.wrapper p{
	text-align: justify;
}
footer p{
	text-align: center !important;
}
.fork-me{
	position: absolute; 
	right: 0px; 
	border: 0px none; 
	top: 0px; 
	z-index: 1000;
}