@import url(http://fonts.googleapis.com/css?family=Wendy+One);
@import url(http://fonts.googleapis.com/css?family=Knewave);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
header{
	min-height: 120px;
	position: relative;
	padding: 70px 0 10px 0 !important;
	background: none;
	background-color: transparent;
	box-shadow: none;
}
header h1{
	font-family: 'Wendy One';
	text-shadow: 4px 4px 2px #244792;
	color: #F1861C;
	font-size: 66px;	
}
header h1 .x{
  font-family: Knewave;
  font-size: 72px;  
}
header p{
	font-family: 'Shadows Into Light Two';
	color: #3860B4;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 3px 3px 2px #BBBBBB;
	margin-top: 5px;
}
.wrapper h1, .wrapper h2, .wrapper h3{
	font-family: 'Shadows Into Light Two';
}
body{
	background-image: url("../images/wavegrid.png");
	overflow-x: hidden;
}
#banner{
	height: 10px;
}
.wrapper{
	margin-top: 40px;
	margin-bottom: 20px;
}
.wrapper p{
	text-align: justify;
}
footer p{
	text-align: center !important;
}
.fork-me{
	position: absolute; 
	right: 0px; 
	border: 0px none; 
	top: 0px; 
	z-index: 1000;
}